.popular{
    color: white
}
.streaming{
    background-color: blueviolet;
}
.television{
    background-color: darkorchid;
}
.alquiler{
    background-color: mediumorchid;
}
.cines{
    background-color: orchid;
}